body {
    font-family: Verdana;
}

#wrapper {
    width: 100%;
}

/*App-List*/
#apps {
    background-color: #e7f1f8;
}

#apps--content {
    width: 1020px;
    margin: 0 auto;
}

/*Header*/
#header {
    background-color: #3C5499;
    color: #FFF;
}

#header--content {
    width: 1020px;
    margin: 0 auto;
}

#header--logo {
    
}

#header--logo h1 {
    margin: 0;
}

#header--navigation {

}

#header--navigation ul {
    padding: 0;
    list-style: none;
}

#header--navigation ul li {
    display: inline-block;
    vertical-align: middle;
}

#header--navigation ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}

#header--navigation ul li a:hover {
    background-color: #273A71;
}

#header--navigation ul li a:visited {
    color: #FFF;
}

/*Content*/
#contentWrapper {
    background-color: #e7f1f8;
}

#content {
    width: 1020px;
    margin: 0 auto;
}

/*Footer*/
#footer {
    background-color: #3C5499;
    color: #FFF;
}

#footer--content {
    width: 1020px;
    margin: 0 auto;
}