body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

#wrapper {
    /*Code for sticky footer*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fullWidth {
    width: 1020px;
    margin: 0 auto;
    max-width: 100%;
}

/*App-List*/
#apps {
}

#apps--content {
}

/*Header*/
#header {
    background-color: #3C5499;
    color: #FFF;
}

#header--content {
}

#header--logo {

}

#header--logo h1 {
    margin: 0;
}

#header--navigation {

}

#header--navigation ul {
    padding: 0;
    list-style: none;
}

#header--navigation ul li {
    display: inline-block;
    vertical-align: middle;
}

#header--navigation ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}

#header--navigation ul li a:hover {
    background-color: #273A71;
}

#header--navigation ul li a:visited {
    color: #FFF;
}

/*Content*/
#contentWrapper {
    flex: 1 0 auto;
}

#content {
}

/*Footer*/
#footer {
    background-color: #3C5499;
    color: #FFF;
}

#footer--content {
}

#footer__copyright {
    border-top: 1px dotted #FFF;
}